@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

a {
    text-decoration: none;    
}

header {
    font-family: Nunito Sans;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 98px 124px 98px;
}

header>h1 {
    font-weight: 900;
    font-size: 40px;
    color: #282A30;
    cursor: pointer;
    margin-left: 200px;
}

.nav-links {
    margin-right: 50px;
}

.nav-links>a {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 19px;
    color: #282A30;
    margin-left: 50px;
    transition: 0.5s all ease;
}

.nav-links>a:hover {
    color: #F7515C;
    transition: 0.5s all ease;
}

.icons {
    display: flex;
    margin-right: 200px;
    width: 27px;
    height: 29.01689910888672px;
    gap: 85px;
    cursor: pointer;
}

.main-leftimg {
    position: absolute;
    margin-left: 200px;
}

.main {
    font-family: Poppins;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 319px;
}

.main-left {
    margin-top: 113px;
    margin-left: 200px;
}

.main-left>h1 {
    color: #F7515C;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 62px;
}

.main-left>span {
    color: #282A30;
    font-weight: 700;
    font-size: 55px;
    gap: 13px;
}

.main-buttons {
    display: flex;
    align-items: center;
    gap: 67px;
    margin-top: 47px;
}

.main-buttons>button {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #F7515C;
    width: 207px;
    height: 78px;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    color: white;
    transition: 0.5s all ease;
}

.main-buttons>button:hover {
    background-color: #000000;
    transition: 0.5s all ease;
}

.main-button2 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-button2>img {
    width: 21.000000000000018px;
    height: 21.000000000000018px;
    margin-right: 43px;
    cursor: pointer;
}

.main-button2>span {
    color: #282A30;
    font-weight: 600;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s all ease;
}

.triangle {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 58px;
    height: 58px;
    border-radius: 50%;
    box-shadow: 0px 4px 70px 0px #0000008e;
}

.triangle>img {
    padding: 19px 19px 19px 21px;
    cursor: pointer;
}

.main-button2:hover>span {
    color: #F7515C;
    transition: 0.5s all ease;
}

.main-right {
    margin-right: 200px;
}

.about {
    color: #282A30;
    margin-bottom: 294px;
    display: flex;
    justify-content: space-between;
}

.about-left {
    margin-left: 200px;
}

.about-left>img {
    position: absolute;
}

.about-img {
    margin-left: 100px;
}

.first {
    margin-top: 521px;
    margin-left: 52px;
}

.second {
    margin-top: 332px;
    margin-left: 192px;
}

.about-right {
    margin-right: 200px;
    padding-top: 52px;
}

.about-right>h2 {
    color: #282A30;
    font-family: Poppins;
    font-weight: 700;
    font-size: 60px;
}

.about-right>h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #282A30;
    display: inline-block;
}

.opisanie {
    margin-top: 55px;
}

.opisanie>p {
    color: #00000073;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 22px;
    margin-top: 19px;
}

.about-right>button {
    margin-top: 48px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #F7515C;
    width: 230px;
    height: 78px;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    color: white;
    transition: 0.5s all ease;
}

.about-right>button:hover {
    background-color: #000000;
    transition: 0.5s all ease;
}

.more {
    margin-bottom: 1021px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 200px;
}

.photos {
    margin-top: 87px;
}

.more-img {
    position: absolute;
    margin-left: 216px;
}

.more1 {
    position: absolute;
    width: 449px;
    height: 199px;
    margin-top: 90px;
    margin-left: 86px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.349);
}

.more2 {
    position: absolute;
    width: 449px;
    height: 199px;
    margin-left: 735px;
    margin-bottom: 51px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.349);
}

.more3 {
    position: absolute;
    width: 449px;
    height: 199px;
    margin-left: 865px;
    margin-top: 462px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.349);
}

.more-text {
    margin-left: 95px;
}

.more-text>h2 {
    color: #282A30;
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
}

.more-text>h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #282A30;
    display: inline-block;
}

.products-head {
    display: flex;
    justify-content: space-between;
    margin-left: 290px;
}

.products-head>img {
    margin-right: 250px;
}

.products-head>img {
    margin-left: 645px;
    margin-top: 120px;
    height: 50px;
    width: 148px;
    cursor: pointer;
}


.products-texts>h2 {
    color: #282A30;
    font-family: Poppins;
    font-weight: 700;
    font-size: 38px;
}

.products-texts>h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #282A30;
    display: inline-block;
}

.cards {
    display: flex;
    justify-content: space-between;
    padding-left: 290px;
    padding-right: 290px;
    gap: 20px;
}

.try {
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 148px;
}

.try-left {
    margin-left: 295px;
}

.try-left>h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: white;
    -webkit-text-stroke: 2px #282A30;
    display: inline-block;
}

.try-left>h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 100px;
    color: #282A30;
}

.try-left>button {
    margin-top: 48px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #F7515C;
    width: 230px;
    height: 78px;
    justify-content: center;
    font-weight: 600;
    font-size: 22px;
    color: white;
    transition: 0.5s all ease;
}

.try-left>button:hover {
    background-color: #000000;
    transition: 0.5s all ease;
}

.try-right {
    margin-right: 200px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-top: 100px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.footer-column h3 {
    font-family: poppins;
    font-size: 26px;
    font-weight: 600;
    color: #282A30;
    margin-bottom: 24px;
}

.footer-column a {
    font-family: poppins;
    color: #282A30CC;
    font-size: 18px;
    transition: color 0.5s ease;
}

.footer-column a:hover {
    color: #F7515C;
    transition: color 0.5s ease;
}

footer {
    margin-bottom: 200px;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    background: #282A30;
    border-radius: 2px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 999;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100%;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    transition: 0.4s ease;
    z-index: 1000;
}

.mobile-menu.active {
    right: 0;
}

.mobile-icons {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mobile-nav a {
    font-size: 20px;
    color: #282A30;
    font-family: Nunito Sans;
}

@media (max-width: 768px) {
    .main-leftimg{
        display: none;
    }
    .nav-links,
    .icons {
        display: none;
    }
    .burger {
        display: flex;
        margin-right: 20px;
    }
    header {
        padding: 20px;
    }
    header>h1 {
        margin-left: 10px;
        font-size: 26px;
    }
    .main {
        align-items: center;
        margin-left: 0;
        margin-bottom: 100px;
    }
    .main-left {
        margin: 40px 0 20px 30px;
    }
    .main-left > span {
        font-size: 20px;
    }
    .main-left > h1 {
        font-size: 10px;
        margin-bottom: 20px;
    }
    .main-buttons {
        flex-direction: column;
        gap: 20px;
    }
    .main-buttons > button {
        width: 140px;
        height: 50px;
        font-size: 14px;
    }
    .main-button2 > span {
        font-size: 10px;
    }
    .main-right {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .main-right img {
        max-width: 60%;
        height: auto;
    }
    .about {
        margin-bottom: 100px;
    }
    .about-left {
        margin-left: 0;
    }
    .first,
    .second {
        display: none;
    }
    .about-img {
        display: none;
    }
    .about-right {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
        margin-left: 110px;
    }
    .about-right > h2 {
        font-size: 24px;
    }
    .about-right > h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px #282A30;
    }
    .opisanie {
        margin-top: 20px;
    }
    .opisanie > p {
        font-size: 14px;
    }
    .about-right > button {
        width: 160px;
        height: 50px;
        font-size: 16px;
        margin: 20px auto 0 auto;
    }

    .more {
        margin: 50px 0;
    }
    .more-img {
        display: none;
    }
    .more1,
    .more2,
    .more3 {
        position: static;
        width: 250px;
        height:110px;
        margin: 1px auto;
        display: flex;
        box-shadow: none;
    }
    .more-text {
        margin-left: 0;
        text-align: center;
    }
    .more-text > h2 {
        font-size: 22px;
    }
    .more-text > h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px #282A30;
    }
    .products-head {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .products-head > img {
        margin: 20px 0;
        width: 80px;
        height: auto;
    }
    .products-texts > h2 {
        font-size: 20px;
    }
    .products-texts > h1 {
        font-size: 30px;
    }

    .cards {
        padding: 0 20px;
        gap: 30px;
    }

    .cards>img {
        width: 20%;
        height: auto;
    }

    .try {
        align-items: center;
        margin: 50px 20px;
        gap: 30px;
    }
    .try-left {
        margin: 0;
        text-align: center;
    }
    .try-left > h2,
    .try-left > h1 {
        font-size: 40px;
    }
    .try-left > button {
        width: 160px;
        height: 50px;
        font-size: 16px;
    }
    .try-right {
        margin: 30px 0 0 0;
    }
    .try-right img {
        max-width: 80%;
        height: auto;
    }
    footer>img {
        width: 350px;
        height: 2px;
    }

    .footer {
        gap: 30px;
    }
    .footer-column h3 {
        font-size: 10px;
    }
    .footer-column a {
        font-size: 8px;
    }
}
